@import '@radix-ui/colors/olive.css';
@import '@radix-ui/colors/oliveDark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 400;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-regular.woff) format('woff');
  }
  @font-face {
    font-weight: 600;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-semibold.woff) format('woff');
  }
  @font-face {
    font-weight: 700;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-bold.woff) format('woff');
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    background: var(--olive1);
  }

  .dark-theme .bg-blur {
    backdrop-filter: blur(20px);
  }

  :root {
    --bg-button: #e8f5d6;
    --bg-button-hover: #e0eecd;
  }

  .dark-theme {
    --bg-button: #262e1b;
    --bg-button-hover: #2f3823;
  }
}

.bg-blur {
  backdrop-filter: saturate(180%) blur(20px);
}

@supports not (backdrop-filter: none) {
  .bg-blur {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

div.mapboxgl-map {
  font-family: 'Proxima Nova', Helvetica Neue;
  text-decoration: underline;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Proxima Nova';
  @apply text-primary text-sm;
}

.mapboxgl-popup-content {
  @apply bg-primary p-6;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  @apply border-t-background;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply border-l-background;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply border-r-background;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply border-b-background;
}

.mapboxgl-popup-close-button {
  right: 2px;
  top: 2px;
  @apply w-7 h-7 rounded-full text-2xl;
}
