@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 400;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-regular.woff) format('woff');
  }
  @font-face {
    font-weight: 600;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-semibold.woff) format('woff');
  }
  @font-face {
    font-weight: 700;
    font-family: Proxima Nova;
    src: url(/fonts/proxima-nova-bold.woff) format('woff');
  }
}

.bg-blur {
  backdrop-filter: saturate(180%) blur(20px);
}

@supports not (backdrop-filter: none) {
  .bg-blur {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

div.mapboxgl-map {
  font-size: 1rem;
  font-family: 'Proxima Nova', Helvetica Neue;
  text-decoration: underline;
}
